At ALX, we believe in the vital importance of bridging the digital gender divide and increasing the representation of women in tech. We champion the women who are driving innovation and devising solutions for the world of tomorrow. Our call to action is for women across the continent to not just have a seat at the table - but to redesign the table.
